html,body{height:96%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}


/*Use this if you want full image, remove to cut bottom off*/
#bgCarousel img
{
    height:100%;/* % scaling not working, find something better here maybe */
    width: 100%;
}

/* Logo */
#landingLogo
{
    position: absolute; /*this is the most important part to overlay anything*/
    top: 3%;
    left: 4%;
    width: 124px;
    height: 124px;
}

/* Making the Logo clickable*/
#landingLogo span
{
    background: url(Pictures/LQ100.png) top left no-repeat;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%
}

/*Navigation*/
/* try using button for nav next time you want a background-color surrounding the text*/
#nav
{
    position: absolute;
    margin-left: 70%;
    margin-top: 3%;
    z-index: 10;
}
    

#nav li
{
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

#nav li a
{
    color: white;
    font-family: "Droid Sans";
    font-size: 18.5px;
    text-decoration: none;
}

#nav li:hover a
{
    color: #FF7D0A /*Druid Class color*/;
}

/*Carousel*/
.carousel-indicators li
{
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 500ms;
}

.carousel-indicators li:hover
{
   background-color: #FF7D0A /*Indicator dont use the color attribute, use background-color to adjust color*/;
    border-color: #FF7D0A;
}

.carousel-indicators .active
{
    transform: scale(1.5);
}

/*Intro Content*/
#introContent
{
    text-align: center;/* for buttons*/
    margin-bottom: 3%;
}

#introContent p
{
   text-align: justify; 
}

#introContentHead
{
    width: 100%;
    background-color: #FF7D0A;
    color: white;
    font-size: 42pt;
    font-family: "Droid Sans";
    margin-bottom: 1%;
}

.btn-info /*Override button style*/
{
    background-color: #FF7D0A;
    border-color: #f07000;
    margin-top: 5%;
}

/*colorhexa.com best website eu*/
.btn-info:hover /*Override button style*/
{
    background-color: #f07000; /*#2AA53B Healing Touch color*/
    border-color: #FF7D0A;
}

/* Footer */
#footer
{
    border: 1px solid #FF7D0A;
    color: black;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    margin-bottom: 1%;
    font-size: 8pt;
    font-family: "Droid Sans";
}

#footer a
{
    color: black;
    text-decoration: none;
}

#footer ul:hover a
{
    color: #FF7D0A;
}
    
#footer hr
{
    width: 80%;
    height: 1px;
    background-color: #FF7D0A;
    margin-bottom: 10px;
    margin-top: 10px;
}

#footerContent
{
    margin-left: 6.5%;
    margin-top: 1%;
}

#footerRight
{
    margin-left:26%;
}

#footerContent ul
{
    display: inline;
}

#footerCopy
{
    margin-left: 9%;
    margin-bottom: 1%;
}

#footerCopy ul
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#footerCopyRight
{
    margin-left:55%;
}