#content
{
    margin-top: 10%;
}

h2
{
    margin-top: 0%;
    font-family: "Droid Sans";
}

.inlineLink
{
    color: #FF7D0A;
    text-decoration: none;
}

.inlineLink:hover
{
    color: black;
    border-bottom: 1px solid #FF7D0A;
    text-decoration: inherit;
}
