
/* Logo */
#landingLogo
{
    position: absolute; /*this is the most important part to overlay anything*/
    top: 30px;
    left: 4%;
    width: 90px;
    height: 100px;
}

/* Making the Logo clickable*/
#landingLogo span
{
    background: url(../Pictures/LQ100.png) top left no-repeat;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%
}

/*Navigation*/
/* try using button for nav next time you want a background-color surrounding the text*/
#nav
{
    position: absolute;
    top: 60px;
    left: 60%;
    z-index: 10;
}


#nav li
{
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

#nav li a
{
    color: white;
    font-family: "Droid Sans";
    font-size: 18.5px;
    text-decoration: none;
    line-height: 22px;
}

#nav li:hover a
{
    color: #FF7D0A /*Druid Class color*/;
}
